:root {
    font-size: 62.5%;/*Equivalente a 10 pixels, para podermos trabalhar cm medidas relativas.*/
}

@media screen and (max-width: 600px){
    .cabecalho-galeria h1 {
        font-size: 2rem;
    }
    .cabecalho-galeria a {
        margin-top: 15px;
        font-size: 1.2rem;
    }
    .retangulo2 p {
       font-size: 1.2rem;
    }
    #menu > a {
        font-size: 1.6rem;
    }
}